// Радиусы скругления
$border-radius-image: 16px;$border-radius-image$border-radius-image
$border-radius-card: 16px;$border-radius-card
$border-radius-link: 8px;
$border-radius-button: 6px;
$border-radius-code: 4px;