// сброс css свойств для списков
@mixin reset-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

// сброс css свойств для ссылок
@mixin reset-link {
  text-decoration: none;
  color: inherit;
}

// сброс css свойств для кнопок
@mixin reset-button {
  border: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  cursor: pointer;
  background: none;
}

// сброс css свойств для текста
@mixin reset-text {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: 1;
  color: inherit;
  text-align: left;
  text-decoration: none;
  text-transform: none;
}
