@mixin custom-scrollbar {
  &::-webkit-scrollbar {
		height: 10px;
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--color-scroll-track);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-scroll-thumb);
		border: 2px solid var(--color-scroll-track);
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-scroll-thumb-hover);
  }
}
