@use '../../scss/mixins/media';
@use '../../scss/varibles/border-radius';

.container {
  margin: var(--size-450) 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  max-width: 100%;
  max-height: 100%;
  border-radius: border-radius.$border-radius-image;
}

.modal {
  display: block;
	min-width: 30vw;
  max-width: calc(100vw - 200px);
  max-height: calc(100vh - 300px);

	@include media.media(md) {
    max-width: 85vw;
    max-height: 85vh;
  }

  @include media.media(sm) {
    max-width: 100%;
    max-height: 100%;
  }
}
