@use './scss/mixins/media';

body {--base-ratio

  --base-unit: 16px * var(--base-ratio);--size-50

  --size-100: calc(var(--base-unit) * 0.5);
  --size-150: calc(var(--base-unit) * 0.75);
  --size-200: calc(var(--base-unit) * 1);
  --size-250: calc(var(--base-unit) * 1.25);
  --size-300: calc(var(--base-unit) * 1.5);
  --size-350: calc(var(--base-unit) * 1.75);
  --size-400: calc(var(--base-unit) * 2);
  --size-450: calc(var(--base-unit) * 2.5);
  --size-500: calc(var(--base-unit) * 3);
  --size-550: calc(var(--base-unit) * 3.25);
  --size-600: calc(var(--base-unit) * 3.5);
  --size-900: calc(var(--base-unit) * 4.5);
  --size-1200: calc(var(--base-unit) * 6);

  // Основные цвета
  --color-bg-main: rgb(245 245 245);--color-bg-main

  --color-bg-lesson: #fff;
  --color-bg-card: rgb(255 255 255);
  --color-bg-modal: #fff;
  --color-bg-code: rgb(245 245 245);
  --color-bg-button: #262626;
  --color-bg-link-hover: rgb(0 0 0 / 6%);
	--color-bg-table-header: #b5b8bb;
  --color-bg-table: rgb(32 33 36 / 3%);
	--color-bg-table-hover: #e7ebee;
  --color-border-code: #e0e0e0;
  --color-border-link-active: #1b1b1e;
  --color-border-table: rgb(208 215 222);
  --color-icon-main: rgb(214 214 214);
  --color-icon-change: rgb(214 214 214);
  --color-icon-invert: rgb(0 0 0 / 85%);
  --color-icon-track: #e0e0e0;
  --color-text-main: rgb(0 0 0 / 85%);
  --color-text-invert: rgb(214 214 214);
  --color-text-error: #fe1b1b;
  --color-content-secondary: rgb(0 0 0 / 50%);
  --color-scroll-track: #e0e0e0;
  --color-scroll-thumb: #474747;
  --color-scroll-thumb-hover: #212121;
  --box-shadow-card: 0 4px 6px -7px rgb(0 0 0 / 10%), 0 4px 30px -9px rgb(0 0 0 / 20%);

  // Применение стилей для медиа-запросов на устройствах среднего размера
  @include media.media(md) {
    --base-ratio: 0.75;
  }
}

// Темная тема
body.dark {
  --color-bg-main: rgb(27 27 30);
  --color-bg-lesson: rgb(32 33 36);
  --color-bg-card: rgb(32 33 36);
  --color-bg-modal: rgb(32 33 36);
  --color-bg-code: rgb(27 27 30);
  --color-bg-button: rgb(255 255 255);
  --color-bg-link-hover: rgb(255 255 255 / 6%);
	--color-bg-table-header: rgb(22 22 21);
  --color-bg-table: rgb(255 255 255 / 3%);
	--color-bg-table-hover: rgb(19 15 12);
  --color-border-code: rgb(46 46 46);
  --color-border-link-active: #fff;
  --color-icon-change: rgb(0 0 0 / 85%);
  --color-icon-invert: rgb(214 214 214);
  --color-icon-track: #2e2e2e;
  --filter-icon: invert(100%);
  --color-text-main: rgb(214 214 214);
  --color-text-invert: rgb(0 0 0 / 85%);
  --color-content-secondary: rgb(255 255 255 / 50%);
  --color-scroll-track: rgb(9 9 9);
  --color-scroll-thumb: rgb(114 114 114);
  --color-scroll-thumb-hover: rgb(165 165 165);
  --box-shadow-card: 0 4px 6px -7px rgb(255 255 255 / 10%), 0 4px 30px -9px rgb(255 255 255 / 20%);
}
