@use '../../scss/varibles/fonts';
@use '../../scss/varibles/border-radius';
@use '../../scss/varibles/transitions';
@use '../../scss/mixins/typography';
@use '../../scss/mixins/media';
@use '../../scss/mixins/reset';

.container {
  position: relative;
  min-height: 360px;
  padding: var(--size-300);
  background-color: var(--color-bg-card);
  border-radius: border-radius.$border-radius-card;
  display: flex;
  flex-direction: column;
  gap: var(--size-100);
  transition: transitions.$transition-main;

  @include media.media(lg) {
    padding: var(--size-200) var(--size-300) var(--size-350) var(--size-300);
  }

  @include media.media(sm) {
    min-height: 115px;
    padding: var(--size-200);
    flex-direction: row;
  }

  &:hover {
    transform: translateY(-4px);
    box-shadow: var(--box-shadow-card);

    .container__progress {
      opacity: 1;
      visibility: visible;
    }
  }

  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__icon {
    height: 180px;
    max-width: 100%;
    font-family: fonts.$font-family-main;
    color: var(--color-text-main);
    object-fit: contain;

    @include media.media(sm) {
      min-width: 45%;
    }
  }

  &__title {
    @include reset.reset-text;
    @include typography.typography-h4-bold;

    flex: 1;
    margin: 0;
    font-family: fonts.$font-family-main;
    color: var(--color-text-main);
  }

  &__progress {
    @include reset.reset-text;
    @include typography.typography-paragraph-small;

    margin: 0;
    font-family: fonts.$font-family-main;
    color: var(--color-content-secondary);
    opacity: 0;
    transition: transitions.$transition-main;

    @include media.media(sm) {
      margin: 0;
    }
  }
}

.line {
  position: absolute;
  bottom: var(--size-100);
  left: 50%;
  width: 85%;
  height: 4px;
  background-color: var(--color-icon-track);
  transform: translate(-50%, 0);

  @include media.media(sm) {
    display: none;
  }

  &__progress {
    max-width: 100%;
    height: 100%;
    background-color: var(--color-text-main);
  }
}
